html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(img/pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  border-bottom: solid 0.3rem rgb(25, 25, 25);
}

.logo {
  text-align: center;
  font-family: "Poller One", cursive;
  font-size: 1.3rem;
}

.siteTitle {
  font-family: "Poller One", cursive;
}

.siteTitle,
.select {
  text-align: center;
  margin: 4rem;
}

.characterName {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}

.mainCardBody {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 0 6rem;
}

.characterCard,
.originCard,
.filmCard {
  /* display: flex; */
  flex-direction: column;
  height: 100%;
  background-color: aliceblue;
  padding: 0.8rem 2rem 2rem 2rem;
  border-radius: 25px;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.cardInfo {
  padding: 1rem 3rem;
  border-radius: 25px;
  border: solid 0.2rem rgb(25, 25, 25);
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem 2rem;
  font-family: "Poller One", cursive;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 25px;
  border: solid 0.3rem rgb(25, 25, 25);
  background-color: aliceblue;
  cursor: pointer;
}
